# .env.example currently set to NEON_URL, Use NEON_URL instead. Manually change the .env variable in db/pool and db/queries
NEON_URL=postgresql://user:password@hostname/databasename?sslmode=require

SESSION_SECRET=<your secret session here>